body {
	font-family: helvetica;
	background-color: pink;
	display: inline-block;
	margin: 10%;
	margin-top: 1%;
	width: 80%;
	text-align: center;
}

nav {
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid black;
	margin: 1em;
	padding: 0.5em;
	padding-top: 2em;
	height: 800px;
}

nav ul {
	margin: 1em;
}

section#main {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
}

div#index{
	text-align: center;
}