body {
	font-family: helvetica;
	background-color: pink;
	display: inline-block;
	margin: 10%;
	margin-top: 1%;
	width: 80%;
}

nav {
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid black;
	margin: 1em;
	padding: 0.5em;
	padding-right: 1em;
	padding-top: 2em;
	height: 800px;
}

nav ul {
	margin: 1em;
}

section#main {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	text-align: center;
	margin-left: 20%;
}

section#login {
	text-align: center;
	margin: 20%;
	margin-top: 5%;
}

section#add_user input {
	width: 200px;
	margin: 0.3em;
	padding: 0.5em;
	text-align: center;
}

section#add_user select {
	width: 100px;
	margin: 0.3em;
	padding: 0.5em;
	text-align: center;
}

section#display_availability li {
	font-size: 120%;
}
